@model IEnumerable<UniSystemHelpDesk.Models.US_USUARIOS>

@{
    ViewBag.Title = "Index";
}

<h2>Usuários</h2>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Novo Cadastro", "Create", "CrudUsuarios", new { area = "" }, new { @class = "navbar-brand btn-new" })
        </div>
        <div>
            @Html.ActionLink("Voltar", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand btn-newvs" })
        </div>
     </div>
</div>
<table class="table table-l">
    <tr>
        <th>
            @Html.DisplayName("Nome Usuário")
        </th>
        <th>
            @Html.DisplayName("Login")
        </th>
        <th>
            @Html.DisplayName("Setor")
        </th>
        <th>
            @Html.DisplayName("Tipo Usuário")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOME_USUARIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL_USUARIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.US_SETORES.SETOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.US_TIPO_USUARIO.TIPO_USUARIO)
            </td>
            <td class="ed-link teste">
                <a href="@Url.Action("Editar", "Edit", new { id = item.ID_USUARIOS, @title = "Editar" })" class="fas fa-edit icons-espa" title="Editar"></a>
                <a href="@Url.Action("Detalhes", "Details", new { id = item.ID_USUARIOS, @title = "Detalhes" })" class="fas fa-search-plus icons-espa" title="Detalhes"></a>
                <a href="@Url.Action("Deletar", "Delete", new { id = item.ID_USUARIOS, @title = "Deletar" })" class="fas fa-trash-alt icons-espa" title="Deletar"></a>
            </td>
        </tr>
    }

</table>
