@model IEnumerable<UniSystemHelpDesk.Models.US_CHAMADOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chamados Abertos</h2>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            
        </div>
        <div>
            @Html.ActionLink("Voltar", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand btn-newvs" })
        </div>
    </div>
</div>

<table class="table table-l">
    <tr>
        <th>
            @Html.DisplayName("Descrição do chamado")
        </th>
        <th>
            @Html.DisplayName("Data de criação")
        </th>
        <th>
            @Html.DisplayName("Data de finalização")
        </th>
        <th>
            @Html.DisplayName("Equipamento")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Usuário")
        </th>
        <th>
            Ações
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_CRIACAO_CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_FINALIZACAO_CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.US_EQUIPAMENTO.EQUIPAMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.US_STATUS.STATUS_CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.US_USUARIOS.NOME_USUARIO)
        </td>
        <td class="ed-link teste">
            <a href="@Url.Action("Edit", "ChamadoAdmin", new{ id = item.ID_CHAMADO, @title="Atender" })" class="fas fa-edit icons-espa" title="Atender"></a>
            <a href="@Url.Action("Details", "ChamadoAdmin", new { id = item.ID_CHAMADO, @title = "Detalhes" })" class="fas fa-search-plus icons-espa" title="Detalhes"></a>
            <a href="@Url.Action("Delete", "ChamadoAdmin", new { id = item.ID_CHAMADO, @title = "Deletar" })" class="fas fa-trash-alt icons-espa" title="Deletar"></a>
        </td>
    </tr>
}

</table>
