@model IEnumerable<UniSystemHelpDesk.Models.US_CHAMADOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meus Chamados</h2>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Novo Chamado", "Index", "ChamadoUser/Create", new { area = "" }, new { @class = "navbar-brand btn-new" })
        </div>
        <div>
            @Html.ActionLink("Voltar", "Index", "Usuario/Index", new { area = "" }, new { @class = "navbar-brand btn-newvs" })
        </div>
    </div>
</div>
<table class="table table-l">
    <tr>
        <th>
            @Html.DisplayName("Cód chamado")
        </th>
        <th>
            @Html.DisplayName("Descrição do chamado")
        </th>
        <th>
            @Html.DisplayName("Data de abertura")
        </th>
        <th>
            @Html.DisplayName("Equipamento")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            Ações
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_CHAMADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHAMADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATA_CRIACAO_CHAMADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.US_EQUIPAMENTO.EQUIPAMENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.US_STATUS.STATUS_CHAMADO)
            </td>
            <td>
                <a href="@Url.Action("Edit", "ChamadoUser", new{ id = item.ID_CHAMADO, @title="Editar" })" class="fas fa-edit icons-espa" title="Editar"></a>
                <a href="@Url.Action("Details", "ChamadoUser", new { id = item.ID_CHAMADO, @title = "Detalhes" })" class="fas fa-search-plus icons-espa" title="Detalhes"></a>
            </td>
        </tr>
    }

</table>
